apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../apps/data/cnpg
patches:
  - target:
      kind: Cluster
      name: platform-postgres
      namespace: data-system
    patch: |-
      - op: replace
        path: /spec/storage/storageClass
        value: longhorn
      - op: add
        path: /spec/resources
        value:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "2"
            memory: "4Gi"
  - target:
      kind: PersistentVolumeClaim
      name: platform-postgres-backups
      namespace: data-system
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: longhorn
